@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  /* Mencegah scroll bar horizontal yang merusak desain */
  overflow-x: hidden; 
}
/* --- Sembunyikan Scrollbar tapi tetap bisa di-scroll --- */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;  /* Untuk Firefox */
}